@import './variables';

// gonna be default
.dark-mode {
    background-color: #241b33 !important;
    color: whitesmoke !important;
}

// changable on demand
.light-mode {
    background-color: darkgray !important;
    color: black !important;
}