@import '_variables.scss';

// gonna be default
.dark-mode {
    background-color: #241b33;
    color: whitesmoke;
}

// changable on demand
.light-mode {
    background-color: white;
    border: 1px solid black;
    color: black;
}