

@mixin scale-for-mobiles {
    @media screen and (max-width: 500px) {

      .header-content {
        min-width: 100vw;

        & p {
            font-size: 4rem;
        }
    }
        .list-item-container, .list-item {
            min-width: 100vw !important;
            
    }
}
};
